@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400&family=Passion+One&display=swap');

:root,
:root.light {
  --bg-color: #fff;
  --pri-color: #555;
  --sec-color: #123;
  --ter-color: #777;
}

:root.dark {
  --bg-color: #222;
  --pri-color: rgb(250, 250, 250);
  --sec-color: rgb(213, 213, 213);
  --ter-color: rgb(165, 165, 165);
}

/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  font-family: 'Lato', sans-serif;
}

.container {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

input[type="submit"]:hover {
  background-color: rgb(90, 90, 255);
  color: #fff;
}

input[type="text"]:focus {
  background-color: rgb(90, 90, 255);
  color: #fff;
}

input[type="text"]:focus::placeholder {
  color: #fff;
  text-align: center;
}

input[type="text"] {
  display: block;
  font-weight: 300;
  font-size: 2rem;
  border: 0;
  outline: none;
  width: 100%;
  color: var(--pri-color);
  background: var(--bg-color);
  padding: 10px 15px;
  margin: 30px auto;
  border-bottom: 1px solid #ddd;
  max-width: 390px;
  min-width: 350px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

input[type="submit"] {
  background: transparent;
  border: 2px solid rgb(90, 90, 255);
  padding: 10px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 390px;
  min-width: 350px;
  transition: 0.2s ease-in-out;
  font-size: 1.4rem;
  color: var(--pri-color);
}

.display {
  font-size: 5rem;
  margin: 0 auto;
  color: var(--pri-color);
}

.icon {
  font-size: 5rem;
  color: rgb(90, 90, 255);
}

.feels {
  color: var(--ter-color);
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.error {
  font-size: 0.9rem;
  color: rgb(34, 34, 34);
  padding: 0.3rem 0.4rem;
  border-radius: 10px;
  background: rgb(90, 90, 255);
  margin-bottom: 1rem;
}

.description {
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--pri-color);
}

.plain {
  color: var(--sec-color);
}

.plain.top {
  margin-top: 1rem;
}

.plain.bottom {
  margin-bottom: 0.2rem;
}

.toggle-container button {
  background: transparent;
  border: none;
  font-size: 2rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  color: var(--pri-color);
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}